html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
}

body {
    font-family: 'lato', sans-serif;
    background-image: url('C:/Users/ereim/OneDrive/Documents/Personal/HTML/bkgd_greywood.jpg');
    background-position: center top;
    background-size: cover;
    margin: 0;
}

.page-title {
    color: #FFF;
    text-align: center;
    font-weight: 10;
    font-size: 400%;
}

.page-description {
    border: 1px solid #000;
    color: #FFF;
    text-align: center;
    padding: 30px;
    font-size: 200%
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery-item {
    display: flex;
    border: 5px solid #FFF;
    width: 65%;
}

.gallery-item .thumbnail {
    width: 100%;
}

/* FOOTER */

nav {
    background-color: #FFF;
}

nav li {
    margin: 0;
    padding: 0 10px;
    display: inline;
}

nav ul {
    display: inline;
}

.contact-btn a {
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #204156;
}

.contact-btn a:active {
    position: relative;
    bottom: 2px;
}

nav a {
    height: 60px;
    line-height: 60px;
    color: #204156;
    text-decoration: none;
}